body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: #fbd2ffa4;}
.hero{
    background: linear-gradient(135deg, #ffecd2, #330867);
}
.hero h1{
    font-family: "Sansita", sans-serif;
    margin-top: 150px;
}
.btn{
    margin-bottom: 150px;
}

