body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: #fbd2ffa4;
}
.hero{
    background: linear-gradient(135deg, #ffecd2, #330867);
}
.hero h1{
    font-family: "Sansita", sans-serif;
    margin-top: 150px;
}
.btn{
    margin-bottom: 150px;
}

.card{
    background: #fbd2ffa4;
    border: none;
}
.card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    
}
.footer{
    background: #620697;
    color: white;
    margin-top: 0;
    
}
.nav-link{
    color: white;

}
.contact_me .btn{
    background: linear-gradient(#8751c9cb, #330867ce);;
}
